.nav {
  background-color: aliceblue;
  /*위치 고정*/
  position: fixed;
  width: 100%;
  padding: 20px 50px;
  left: 0px;
  bottom: 0px;
  /*쪼매난 라인 그리기*/
  border-top: 1px solid #f7f7f7;
}

.nav .nav__list {
  /*정렬 하려면 필요함*/
  display: flex;
  justify-content: space-between;
}

.nav .nav__list-link {
  position: relative;
}

.nav .nav__badge {
  position: absolute;
  top: -7px;
  right: -7px;
  font-size: 15px;
  color: white;
  background-color: #dc5d46;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
