@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap");
@import "reset.css";
@import "status-bar.css";
@import "header.css";
@import "nav-bar.css";

* {
  /* padding에 따라 box가 커지는 것을 방지*/
  box-sizing: border-box;
}

body {
  background-color: white;
  padding: 10px 20px;
  color: #020202;
  font-family: "Open Sans", sans-serif;
}

a {
  /*부모 색깔 가져옴*/
  color: inherit;
}
